progress::-webkit-progress-bar {
  // background-color: rgba(133, 29, 0, 0.29);
  background-color: transparent;
}
progress::-webkit-progress-value {
  background-color: $color_main_dark;
}
progress::-moz-progress-bar {
  background-color: $color_main_dark;
}
progress {
  /* Positioning */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 50px;

  /* Dimensions */
  width: 100%;
  height: 5px;

  /* Reset the appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* Progress bar container for Firefox/IE10+ */
  // background-color: rgba(133, 29, 0, 0.29);
  background-color: transparent;

  /* Progress bar value for IE10+ */
  color: $color_main_dark;
}